.body {
    margin: 0;
}
#head {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.headSpace {
    background-color: white;
    width: 30vw;
}

#tools {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolButt {
    background-color: white;
    border: none;
    height: 50px;
}
.toolButt:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(44, 166, 241);
}

#workspace{
    display: flex;
    flex-direction: row;
}
#modal {
    display: none;
    position: fixed; 
    padding-top: 200px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
#modal-content {
    position: relative; 
    background-color: white;
    padding: 20px;
    margin: auto; 
    width: 30%;
  }

#left {
    width: 22vw;
    height: 90vh; /*calc(100vh - 50px);*/
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 166, 241);
    /*z-index: 2;*/
    background-color: white;
    /*overflow-y: scroll;*/
}
/*
.itemButt {
    background-color: white;
    border: none;
}
.itemButt:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(44, 166, 241);
}
*/
#center {
    background-color: whitesmoke;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myCanvas {
    border: blanchedalmond;
}
#textarea {
    height: 90vh;
    width: 20vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 166, 241);
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    
}